<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
         <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    </head>
    <body>
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

</html>
